.body {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    background-color: #a0d8e8;
    color: #602e15; 
}

.intro-container{ 
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.titel { 
    font-size: 1.2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    margin: 20px 20px 20px 0; 
    padding: 5px 10px 5px 10px;
    border-radius: 0 10px 10px 0;
    color: white; 
    background-color: #e6a8af;
    width: 300px;
    box-sizing: border-box;
    box-shadow: #de5985, 20px; 
}

.inleiding { 
    background-color: #b89a80;
    padding: 5px; 
    margin: 50px;
    text-align: left;
    border-radius: 10px;
}
.midden-slot-container { 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    justify-content: space-between;
}

 .midden-container {
        display: flex; 
        flex-direction: column; 
        justify-content: left; 
        background-color: #efe3d6;
        display: flex; 
        flex-direction: row;
        justify-content: center; 
        border-radius: 5px;
    }

.middenstuk3 { 
    text-align: center; 
    }

.slot { 
    background-color: #dccbb8;
    border: 35px, #f2a657;
    border-radius: 50%;
    text-align: right;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.quote1, .quote2 {
    background-color: #7c9e4e; 
    box-shadow: #4d6531, 20px;
    border-radius: 100%;
    position: relative;
    }

.h2 { 
    font-size: 1em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center; 
    color: #efe3d6;
}




